bcrypt
email_validator
Flask
Flask-sqlalchemy
flask-debugtoolbar
Flask-Login
Flask-Alembic
Flask-Script
Flask-WTF
python-dotenv
pytz
rich
setuptools
SQLAlchemy
SQLAlchemy-migrate
tabulate
texttable
WTForms
click
