{% extends 'base.html' %}

{% block title %}
    Управление категориями - {{ super() }}
{% endblock %}

{% from 'macros/form_render_field.html' import render_field %}

{% block content %}
    <h1>Управление категориями</h1>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Название</th>
        </tr>
        {% for cat in categories %}
            <tr>
                <td style="width: 10px;">{{ cat.id }}</td>
                <td>{{ cat.title }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Создание новой категории</h3>

    <form action="" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.title, class="form-control", autofocus="autofocus") }}
        <button type="submit" class="btn btn-block btn-primary mb-3">Создать</button>
    </form>
{% endblock %}
